@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --popppins: "Poppins", sans-serif;
}

@layer base {
  /* poppins */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  * {
    @apply m-0 p-0 outline-none box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  a,
  li,
  ul,
  ol,
  div {
    @apply m-0 p-0;
  }

  a {
    @apply no-underline;
  }

  li {
    @apply list-none;
  }
  img {
    @apply align-middle;
  }
}

@layer components {
  #user::-webkit-scrollbar {
    width: 0; /* width of the entire scrollbar */
  }

  #user::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  #user::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
  }
  #logiLeftBg {
    background: url("/src/assets/chris-lee-70l1tDAI6rM-unsplash\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
